<ion-view view-title="购物车" hide-tabs>
  <ion-nav-buttons side="left">
	<button ng-click="$ionicGoBack($event)" class="button back-button buttons button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i> </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
      <button class='button' ng-class="{'button-assertive': isEdit}" ng-click='toggle()' ng-bind='isEdit? "完成" : "编辑"'>
          编辑
      </button>
  </ion-nav-buttons>

  <ion-content class='customer-footer'>
      <ion-refresher
              pulling-text="下拉刷新"
              on-refresh="doRefresh()">
      </ion-refresher>

	<ion-list  class='cart-list'  >
    <div ng-repeat="(key, item) in cart.list.cartItemMap">
      <div ng-repeat='(ky, cItem) in item'>
        <ion-item class='item-divider' activity-name='{{key}}' activity-id = '{{ky}}' ng-bind='cItem.activityName'></ion-item>
        <ion-item class='item-text-wrap activituy-msg' ng-hide='key == "ordinaryMap"' ng-bind='cItem.msg'></ion-item>
        <ion-item class='item-checkbox cart-item' goods-code = "{{it.goods.code}}" ng-repeat='it in cItem.list'>
          <label class="checkbox cart-checkbox checkbox-assertive">
               <input type="checkbox"  ng-checked="" ng-model="it.isChecked" ng-click="checkedItem(it)">
          </label>
          <h2 ui-sref="product({id:it.goods.id})" ng-bind="it.goods.name"></h2>
          <p ng-bind="it.goods.manufacturer"></p>
          <p ng-bind="it.goods.spec"></p>
          <p ng-hide='isEdit' on-tap='openNumPanel(it)' >
              数量: <span ng-bind="it.quantity"></span>
              <i class='icon ion-edit'></i>
          </p>
          <p>
              单价: <span class="price" ng-bind="it.goods.smallPrice | currency: '￥'"></span>
              小计: <span class="price" ng-bind="(it.goods.smallPrice * it.quantity) | currency: '￥'"></span>
          </p>

          <div class='modify-num-box row' ng-show='isEdit'>
              <i class='button icon ion-plus button-small' ng-click="pulsNum(it)"></i>
              <input type="text"  class="cart-number" ng-change="changeCartNum(it)" ng-model='it.quantity'>
              <i class='button icon ion-minus button-small' ng-click="minusNum(it)"></i>
          </div>
          <ion-option-button class="button-positive" ng-click="addFavorite(it.goods)">收藏</ion-option-button>
          <ion-option-button class="button-assertive" ng-click="deleteCartItem(it, $index)">删除</ion-option-button>
       </ion-item>
      </div>

    <ion-item ng-if="isFinishLoad && !cart.list.cartItemMap" style='text-align: center'> 购物车里没有商品</ion-item>
    </div>

	</ion-list>


  </ion-content>

</ion-view>
<ion-footer-bar class="bar-positive bottom cart-footer">
	<ion-checkbox ng-model="isChecked" ng-click="checkedAll()"  class='checkbox-assertive'>
        总价: <span ng-bind="totalAmount | currency: '￥'"></span>
    </ion-checkbox>

    <button class='button button-assertive create-order' ng-click="createOrder()" ng-hide="isEdit">生成订单</button>
</ion-footer-bar>
